/* -------------------------------------------------------------- */
/* Base Typography Styles */
/* -------------------------------------------------------------- */

body {
    max-width: 800px;
    margin: auto;
}

h1 {
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-left: 8px;
}

h2 {
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 0px;
    margin-left: 8px;
}

h3 {
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 8px;
}

h4 {
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 8px;
}

h5 {
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 8px;
}

h6 {
    font-family: 'Anonymous Pro', monospace;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 8px;
}

p {
    font-family: bookmania, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    margin: 8px 0 0 7.75px;
}

/* -------------------------------------------------------------- */
/* CLASSES > ASCII */
/* -------------------------------------------------------------- */

.ascii-container {
    text-align: center;
    /* border: 1px solid red;   */
    flex-grow: 1;
}

.ascii-art {
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 10.99px;
    line-height: 11px;
}

.ascii-art-large {
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 21.95px;
    line-height: 22px;
}

/* -------------------------------------------------------------- */
/* CLASSES > SECTIONS */
/* -------------------------------------------------------------- */

.header {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 8px;
    margin: 8px 0 0px 0;
    height: 32px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 8px 0 8px 0;
}

.rowFactory {
    border: 1px solid black;
    border-top: 1px dashed black;
    border-bottom: none;
}

.stats {
    border: 1px solid black;
    border-top: 1px dashed black;
    padding: 8px;
    gap: 8px;
    justify-content: space-evenly;
}

.stats > p {
    font-family: Anonymous Pro, monospace;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0px;
    letter-spacing: 0.2em;
}


.button-container {
    display:flex;
    gap: 8px;
    flex-flow: wrap;
    width: 75%;
    justify-content: left;
    align-content: flex-start;
}

.count-container {
    background-color: rgb(60, 60, 70);
    padding: 8px 16px 8px 16px;
}

.count-container p {
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgb(230, 250, 230);
    margin: 0px;
}


.active {
    display: inline;
}

.hidden{
    display: none;
}

.alert{
    background-color: orangered;
}



.narration {
    border-radius: 4px;
    padding: 6px 8px 4px 8px;
    border: .5px solid grey;
}

.archived {
    background-color: whitesmoke;
}

.newest {
    background-color: white;
    animation: fade 4s 1s forwards;
    box-shadow: 0px 2px 2px lightgrey;
}

@keyframes fade {
    from {background-color: white}
    to {background-color: whitesmoke}
    from {box-shadow: 0px 2px 2px lightgrey}
    to {box-shadow: 0px 0px 0px lightgrey}
}

.half{
    height: 100vh;
}


/* -------------------------------------------------------------- */
/* IDs */
/* -------------------------------------------------------------- */

#top-half {
    background-color: blueviolet;
}

#bottom-half {
    background-color: yellowgreen;
}

#body-split {
    background-color:aquamarine; 
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:flex-start;
}

#flags-in-the-world {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    line-height: 0px;
    text-align: center;
    flex-flow: wrap-reverse;
}

#flags-in-the-world pre {
    background-color: whitesmoke;
    height: 14px;
    padding-top: 2px;
    margin: 2px;
    border: 1px solid black;
}

#flags-world-status {
    text-align: center;
    width: 100%;
}

#add-image-here {
    display: flex;
    flex-wrap: wrap;
}

#narration-container{
    background-color: whitesmoke;
    border: 1px solid black;
    border-top: 1px dashed black;
    border-bottom: none;
    padding: 24px;
    max-height: 128px;
    overflow: auto;
    padding: 16px;
    height: 24px;
    display: flex;
    flex-direction: column-reverse;
    gap: 0px;
}

/* -------------------------------------------------------------- */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(50, 50, 60); 
  }

  